a,
a:hover,
a:visited {
	text-decoration: none !important;
}

.course__name,
.course__description {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap
}

.nav-pagination {
	text-align: center;
}
.form{
width: 250px;
margin-left: 30%;
}
.list-more {
    text-align: center;
    margin-bottom: 50px;
}