{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
<div class="jumbotron">
	  <div class="container">
	    <h1>JOBPLUS</h1>
	    <p>领先的互联网求职、招聘平台</p>
	  </div>
	</div>
{% endblock %}

{%block body %}
	
	<ul class="nav nav-tabs list-title">
	  <li role="presentation" class="active"><a href="#">最新职位</a></li>
	</ul>
	<div class = "container" style="margin:20px 0 0 0">
        <div class="col-sm-6 col-md-4 col-lg-3 ">
          <div class="thumbnail">
            <a href="http://www.youzhan.org/" title="Bootstrap " target="_blank" onclick="_hmt.push(['_trackEvent', 'tile', 'click', 'youzhan-tile'])">
              <img class="lazy" src="https://assets.bootcss.com/www/assets/img/expo.png?1532594948592" width="300" height="150" data-src="https://assets.bootcss.com/www/assets/img/expo.png?1532594948592" alt="">
            </a>
            <div class="caption">
              <h3>
                  <a href="http://www.youzhan.org/" title="Bootstrap " target="_blank" ><br><small> Bootstrap</small></a>
              </h3>
              <p>Bootstrap </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 ">
          <div class="thumbnail">
            <a href="http://www.youzhan.org/" title="Bootstrap " target="_blank" onclick="_hmt.push(['_trackEvent', 'tile', 'click', 'youzhan-tile'])">
              <img class="lazy" src="https://assets.bootcss.com/www/assets/img/expo.png?1532594948592" width="300" height="150" data-src="https://assets.bootcss.com/www/assets/img/expo.png?1532594948592" alt="">
            </a>
            <div class="caption">
              <h3>
                  <a href="http://www.youzhan.org/" title="Bootstrap " target="_blank" ><br><small> Bootstrap</small></a>
              </h3>
              <p>Bootstrap </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 ">
          <div class="thumbnail">
            <a href="http://www.youzhan.org/" title="Bootstrap " target="_blank" onclick="_hmt.push(['_trackEvent', 'tile', 'click', 'youzhan-tile'])">
              <img class="lazy" src="https://assets.bootcss.com/www/assets/img/expo.png?1532594948592" width="300" height="150" data-src="https://assets.bootcss.com/www/assets/img/expo.png?1532594948592" alt="">
            </a>
            <div class="caption">
              <h3>
                  <a href="http://www.youzhan.org/" title="Bootstrap " target="_blank" ><br><small> Bootstrap</small></a>
              </h3>
              <p>Bootstrap </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 ">
          <div class="thumbnail">
            <a href="http://www.youzhan.org/" title="Bootstrap " target="_blank">
              <img class="lazy" src="https://assets.bootcss.com/www/assets/img/expo.png?1532594948592" width="300" height="150" data-src="https://assets.bootcss.com/www/assets/img/expo.png?1532594948592" alt="">
            </a>
            <div class="caption">
              <h3>
                  <a href="http://www.youzhan.org/" title="Bootstrap " target="_blank" ><br><small> Bootstrap</small></a>
              </h3>
              <p>Bootstrap </p>
            </div>
          </div>
        </div>
    </div>
    <p class="list-more">
    <a href="#" class="btn btn-success btn-lg list-more-btn">查看更多</a>
    </p>
{% endblock %}
